<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<main>
		
		<h1>Projeto Jogar Dados</h1>

		<p>Pontuação Acumulada: <%= pontosAcumulados %> </p>

		<p>Numero De Lançamentos: <%= nLancamentos%></p>

		<p>Lançamento: <%= lancamento %></p>

		<p>Jogo Lançamento Atual: <%= jogoLancamento %></p>

		<p>Pontuação Lançamento: <%= pontosLancamento %></p>

		<button type="button" id="buttonLancarDados">Lancar Dados</button>

	</main>



</body>

<script type="js/jquery-3.4.1.min"></script>

<script type="text/javascript">
	
	$(document).ready(function() {

		$ ('#buttonLancarDados').click(function(){
			location.href='lancarDados';
		
		});
	
	});



</script>
</html>